*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
--primary-color:#1e8c8e;
--secondary-color:#005c5d;
--red:#f23232;
}

body{
  font-family: 'roboto',sans-serif;
  background: #ededed;
}

header{
  background: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem 0rem 8rem;

}

h1{
  font-size: 48px;
  font-weight: 300;

}

.logo{
  color: #ef7d04;
  font-weight: 400;
}

.periodo{
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.container{
  width: min(80vw, 800px);
  margin: auto;
  margin-top: -6rem;
}

.card{
  background: white;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.card h2{
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--secondary-color);
}

.card p{
  margin-top: 1.25rem;
  color: var(--secondary-color);
  font-size: 1.50rem;
}

.card-3{
  background: var(--primary-color);
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.card-3 h2{
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
}

.card-3 p{
  margin-top: 1.25rem;
  color: white;
  font-size: 1.50rem;
}

.balance{
  padding: 0rem;
}

.transitions{
  margin-top: 2rem;
}

.transitions h2{
  font-weight: 400;
  color: var(--primary-color);
  font-size: 1.25rem;
}

.data-table{
  border-spacing: 0 0.5rem;
  width: 100%;
}

table td{
  background: white;
  padding: 1rem 1rem;
  font-weight: normal;
  font-size: 1rem;
  border-radius: 0.25rem;
}


table tr{
  opacity: 0.7;
}

table tr:hover{
  opacity:1;
}

table th{
  background: gray;
  opacity: 0.8;
  border-radius: 0.25rem;
}

.red-value{
  color: red;
}

.green-value{
  color: green;
}

footer{
  text-align: center;
  padding: 3rem;
  background: var(--primary-color);
  color: white;
  margin-top: 3rem;
}

footer h2{
  font-weight: 400;
}
